.main{
    position: relative;
    height: 750px;
    width: auto;
    background:linear-gradient(rgb(238, 173, 224),white) ;
    /* background-color: blue; */
    border-radius: 2%;
}
.head{
position: relative;
    top: 0;
    width: auto;
    height: 60px;
    padding-top: 10px;
    background-color: rgb(248, 247, 247);
}
.head1{
    position: absolute;
    margin-left: 15px;
    bottom: 5px;
}
div.head1 a{
    text-decoration: none;
    color: black;
}
div.head1 a:hover{
    color: rgb(240, 131, 234);
}
.head2{
    position: absolute;
    margin-left: 110px;
    bottom: 5px;
}
div.head2 a{
    text-decoration: none;
    color: black;
}
div.head2 a:hover{
    color: rgb(240, 131, 234);
    
}
.head3{
    position: absolute;
    margin-left: 195px;
    bottom: 5px;
}
div.head3 a{
    text-decoration: none;
     color: black;
}
div.head3 a:hover{
    color: rgb(240, 131, 234);
}
.head4{
    position: absolute;
    margin-left: 316px;
    bottom: 5px;
}
div.head4 a{
    text-decoration: none;
     color: black;
}
div.head4 a:hover{
    color: rgb(179, 28, 171);
}
.login{
    position: absolute;
    margin-left: 1200px;
    bottom: 5px;
}
div.login a{
    text-decoration: none;
    color: black;
}
div.login a:hover{
    color: rgb(240, 131, 234);
}
div.head a:hover{
box-shadow: 1px 1px 1px 1px rgb(231, 191, 191);
}
.left{
    position: absolute;
    margin-left: 700px;
    overflow: hidden;
}
div.left img{
    object-fit: cover;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  transform: scale(0.5);
  animation: fadeInScale 1s forwards;
}
@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.right{
    position: absolute;
    left:100px ;
     top: -100%;
  opacity: 0; 
  animation: slideInFromTop 1s forwards 0.4s;
}
@keyframes slideInFromTop {
  to {
    top: 0; 
    opacity: 1; 
  }
}
.right1{
    position: absolute;
margin-top: 205px;
}
.right2{
    position: absolute;
    margin-top: 205px;
}
.right3{
    position: absolute;
    margin-top: 280px;
}
div.right h1{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right4{
    margin-top: 426px;
    width: 170px;
    height: 35px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
#right4{
     text-decoration: none;
     color: white;
     background-color: black;
}
.right4:hover{
    background-color: rgb(229, 149, 245);
    color: black;
}
.collection,.collection1{
    top: 100px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to left,rgb(128, 5, 128),rgb(183, 160, 199),rgb(255, 166, 0));
    -webkit-background-clip: text;
    color: transparent;
}   
.collection1{
}
#mid,#mid1{
    position: relative;
    background-image: linear-gradient(to bottom right,rgb(255, 255, 255),white,white,rgba(199, 178, 201, 0.986));
}
#mid1{
    background-image: none;
}
.mid,.mid1{
    position: relative;
    height: 550px;
    width: auto;  
}
.img1{
position: absolute;
height: 350px;
width: 17%;
/* background-color: aqua; */
margin-left: 80px;
}
#img1:hover{
    transform:scale(1.05);
}
#img2:hover{
    transform:scale(1.05);
}
#img3:hover{
    transform:scale(1.05);
}
#img4:hover{
    transform:scale(1.05);
}
.img2{
position: absolute;
height: 350px;
width: 17%;
/* background-color: aqua; */
margin-left: 400px;
}
.img3{
position: absolute;
height: 350px;
width: 17%;
/* background-color: aqua; */
margin-left: 720px;
}
.img4{
position: absolute;
height: 350px;
width: 17%;
/* background-color: aqua; */
margin-left: 1025px;
}
.box1{
position: absolute;
width: 17%;
height: 150px;
/* background-color: aqua; */
margin-left: 80px;
margin-top: 370px;
}
.box2{
position: absolute;
width: 17%;
/* background-color: aqua; */
margin-left: 400px;
height: 130px;
margin-top: 370px;
}
.box3{
position: absolute;
width: 17%;
/* background-color: aqua; */
margin-left: 720px;
height: 130px;
margin-top: 370px;
}
.box4{
position: absolute;
width: 17%;
/* background-color: aqua; */
margin-left: 1025px;
height: 130px;
margin-top: 370px;
}
div.box1 p,div.box2 p,div.box3 p,div.box4 p{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 225px;
    font-size: medium;
    color: grey;
    /* background-color: burlywood; */
}
div.box1 p{
    bottom: 110px;
}
div.box2 p,div.box3 p,div.box4 p{
    bottom: 90px;
}
div.box1 h3,div.box2 h3,div.box3 h3,div.box4 h3{
    position: absolute;
    display: flex;
    top: 8px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(22, 22, 22);
    width: 225px;
    /* background-color: burlywood; */
}
div.box1 h4,div.box2 h4,div.box3 h4,div.box4 h4{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
     color: rgba(49, 53, 52, 0.822);
    width: 225px;
    /* background-color: burlywood; */
    top: 31px;
}
.button,.button1,.button3,.button4{
    position: absolute;
    top: 80px;
}
.b1,.box2-b1,.box3-b1,.box4-b1{
    text-decoration: none;
    border: none;
    background-color: rgb(248, 247, 247);
    size: 100px;
    padding: 4px 8px;
    cursor: pointer; 
    color: rgba(94, 89, 89, 0.664);
}
.tooltip,.box2-tooltip,.box3-tooltip,.box4-tooltip{
    visibility: hidden;
    width: 70px;
    height: 9px;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 45px;
    bottom: 35px;
    margin-left: -65px;
}
.tooltip::after,.box2-tooltip::after,.box3-tooltip::after,.box4-tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    left:50%;
    border-width: 5px;
    margin-left: -5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.b1:hover .tooltip,.box2-b1:hover .box2-tooltip,.box4-b1:hover .box4-tooltip,.box3-b1:hover .box3-tooltip{
    visibility: visible;
}
.b2,.box2-b2,.box3-b2,.box4-b2{
    text-decoration: none;
    border: none;
    background-color: rgb(250, 245, 245);
    size: 100px;
    padding: 4px 8px;
    cursor: pointer; 
    margin-left: 15px;
    color: rgba(94, 89, 89, 0.664);

}
.tooltip1,.box2-tooltip1,.box3-tooltip1,.box4-tooltip1{
    visibility: hidden;
    width: 70px;
    height: 9px;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 45px;
    bottom: 35px;
    margin-left: -17px;
}
.tooltip1::after,.box2-tooltip1::after,.box3-tooltip1::after,.box4-tooltip1::after{
    content: "";
    position: absolute;
    top: 100%;
    left:50%;
    border-width: 5px;
    margin-left: -5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.b2:hover .tooltip1,.box2-b2:hover .box2-tooltip1,.box4-b2:hover .box4-tooltip1,.box3-b2:hover .box3-tooltip1{
    visibility: visible;
}
.b3,.box2-b3,.box3-b3,.box4-b3{
    text-decoration: none;
    border: none;
    background-color: rgb(250, 245, 245);
    size: 100px;
    padding: 4px 8px;
    cursor: pointer; 
    margin-left: 15px;
    color: rgba(94, 89, 89, 0.664);

}
.tooltip2,.box2-tooltip2,.box3-tooltip2,.box4-tooltip2{
    visibility: hidden;
    width: 70px;
    height: 9px;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 45px;
    bottom: 35px;
    margin-left: 27px;
}
.tooltip2::after,.box2-tooltip2::after,.box3-tooltip2::after,.box4-tooltip2::after{
    content: "";
    position: absolute;
    top: 100%;
    left:50%;
    border-width: 5px;
    margin-left: -5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.b3:hover .tooltip2,.box2-b3:hover .box2-tooltip2,.box3-b3:hover .box3-tooltip2,.box4-b3:hover .box4-tooltip2{
    visibility: visible;
}
.b4,.box2-b4,.box3-b4,.box4-b4{
    text-decoration: none;
    border: none;
    background-color: rgb(250, 245, 245);
    size: 100px;
    padding: 4px 8px;
    cursor: pointer; 
    margin-left: 15px;
    color: rgba(94, 89, 89, 0.664);

}
.tooltip3,.box2-tooltip3,.box3-tooltip3,.box4-tooltip3{
    visibility: hidden;
    width: 70px;
    height: 9px;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 45px;
    bottom: 35px;
    margin-left: 78px;
}
.tooltip3::after,.box2-tooltip3::after,.box3-tooltip3::after,.box4-tooltip3::after{
    content: "";
    position: absolute;
    top: 100%;
    left:50%;
    border-width: 5px;
    margin-left: -5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.b4:hover .tooltip3,.box2-b4:hover .box2-tooltip3,.box3-b4:hover .box3-tooltip3,.box4-b4:hover .box4-tooltip3{
    visibility: visible;
}
.b5,.box2-b5,.box3-b5,.box4-b5{
    text-decoration: none;
    border: none;
    background-color: rgb(250, 245, 245);
    size: 100px;
    padding: 4px 10px;
    cursor: pointer; 
    margin-left: 15px;
    color: rgba(94, 89, 89, 0.664);

}
.tooltip4,.box2-tooltip4,.box3-tooltip4,.box4-tooltip4{
    visibility: hidden;
    width: 70px;
    height: 9px;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left: 45px;
    bottom: 35px;
    margin-left: 129px;
}
.tooltip4::after,.box2-tooltip4::after,.box3-tooltip4::after,.box4-tooltip4::after{
    content: "";
    position: absolute;
    top: 100%;
    left:50%;
    border-width: 5px;
    margin-left: -5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.b5:hover .tooltip4,.box2-b5:hover .box2-tooltip4,.box3-b5:hover .box3-tooltip4,.box4-b5:hover .box4-tooltip4{
    visibility: visible;
}
.opt{
    position: absolute;
}
.opt1 button,.box2-opt1 button,.box3-opt1 button,.box4-opt1 button{
    position: absolute;
    text-decoration: none;
    border: none;
    background-color: rgb(0, 0, 0);
    size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 49%;
    padding: 4px 10px;
    cursor: pointer; 
    margin-left: 35px;
    margin-top: 120px;
}
.opt2 button,.box2-opt2 button,.box3-opt2 button,.box4-opt2 button{
    position: absolute;
    text-decoration: none;
    border: none;
    background-color: rgb(6, 71, 4);
    size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 49%;
    padding: 4px 10px;
    cursor: pointer; 
    margin-left: 97px;
    margin-top: 120px;
}
.opt3 button,.box2-opt3 button,.box3-opt3 button,.box4-opt3 button{
    position: absolute;
    text-decoration: none;
    border: none;
    background-color: rgb(255, 2, 2);
    size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 49%;
    padding: 4px 10px;
    cursor: pointer; 
    margin-left: 155px;
    margin-top: 120px;
}
.model{
    position: relative;
    height: 800px;
    width: auto;
    background-color: rgb(255, 255, 255);
}
.m1{
    position: absolute;
    height: 600px;
    width: 530px;
    margin-top: 95px;
    margin-left: 700px;
    background-image: url('./collection-01.jpg');
}
.m2{
    position: absolute;
    height: 410px;
    width: 540px;
    margin-top: 95px;
    margin-left:110px;
    cursor: pointer;
    background-image: url('./collection-02.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.m3{
    position: absolute;
    height: 175px;
    width: 540px;
    margin-top: 520px;
    margin-left:110px;
    background-color: rgb(255, 255, 255);
}
.m3 p{
    position: absolute;
    font-size: large;
    bottom: 130px;
    margin-left: 265px;
    color: rgb(48, 43, 43);
}
.m3 .one{
    position: absolute;
    bottom:75px;
    margin-left: 48px;
    font-size: 40px;
}
.m3 .two{
    position: absolute;
    bottom:35px;
    margin-left: 199px;
    font-size: 40px;
}
.m3 p{
    position: absolute;
    cursor: pointer;
    bottom: 0px;
    margin-left: 238px;
    height: 35px;
    width: 85px;
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.m3 p:hover{
    color: black;
    background-color: rgb(219, 179, 127);
}
.body{
    background-image: url('./bg-01.jpg');
    filter: brightness(80%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 750px;
    position:relative;
    width: auto;
}
.first{
    position: absolute;
    height: 200px;
    width: 650px;
    /* background-color: rgb(255, 8, 8); */
    margin-left: 350px;
    margin-top: 330px;
}
.first .f1p{
    color: rgb(255, 0, 0);
    filter: brightness(200%);
    font-size: 14px;
    text-align: center;
    text-align: center;
}
.first .f1h{
position: absolute;
margin-left: 90px;
bottom: 100px;
font-size: 40px;
color: rgb(255, 0, 0);
}
.first .f2h{
    position: absolute;
    margin-left: 176px;
bottom: 62px;
color: rgb(255, 0, 0);
}
.first .f2p{
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: red;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 300px;
    height: 50px;
    margin-top: 100px;
    margin-left: 186px;
    text-decoration: none;
}
.f2p a{
    color: black;
    text-decoration: none;
}
.f2p:hover{
    background-color: black;
}
.f2p:hover a{
    color: aliceblue;
}
.second{
    height: 800px;
    width: auto;
}
.second{
    position: relative;
}
.p1{
    position: absolute;
    font-size: larger;
    color: grey;
    height: 35px;
    width: 300px;
    margin-left: 50%;
    margin-top: 260px;
}
.p2{
    position: absolute;
    font-size: 25px;
    height: 60px;
    width: 450px;
    margin-left: 50%;
    margin-top: 277px;
}
.p3{
    position: absolute;
    font-size: 25px;
    height: 60px;
    width: 450px;
    margin-left: 50%;
    margin-top: 340px;
}
.p4{
    position: absolute;
    height: 110px;
    color: grey;
    width: 650px;
    margin-left: 50%;
    margin-top: 435px;
}
.p5 p{
    position: absolute;
    cursor: pointer;
    height: 50px;
    width: 250px;
    margin-left: 660px;
    margin-top: 545px;
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.p5 p:hover{
    color: black;
    background-color: rgb(219, 179, 127);
}
.p-img{
    background-repeat: no-repeat;
    background-size: cover;
position: absolute;
    height: 660px; 
    margin-top: 70px;
    margin-left: 80px;
    width: 38%;
}
.review{
    height: 350px;
    width: auto;
}
.rev{
    font-size: 25px;
    margin-top: 50px;
}
.content{
    height: 150px;
    width: 700px;
}
.content p{
    font-size: 24px;
    color: black;
    text-decoration: underline;
    text-align: center;
    align-content: space-evenly;
}
.star{
    position: absolute;
    margin-bottom: 400px;
    height: 40px;
    margin-left: 200px;
    width: 300px;
    display: flex;
   justify-content: space-evenly;
}
.s3,.s4,.s5,.s1,.s2{
    height: auto;
    width: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.e-name{
    position: absolute;
    margin-top: 30px;
    height:20px ;
    margin-left: 50px;
    width: 600px;
    
}
#e-name {
    color: rgb(155, 149, 149);
    text-decoration: none;
    font-size: large;
}
.info{
    position: relative;
    height: 700px;
    width: auto;
}
.i-1{
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
    height:250px ;
    width: 400px;
}
.i-4{
    position: absolute;
    margin-top: 100px;
    margin-left: 700px;
    height:250px ;
    width: 400px;
}
.i-2{
    position: absolute;
    margin-top: 420px;
    margin-left: 200px;
    height:250px ;
    width: 400px;
}
.i-3{
    position: absolute;
    margin-top: 420px;
    margin-left:700px;
    height:250px ;
    width: 400px;
}
.i1{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 45%;
}
.c1 h1{
    height: 15px;
    width: auto;
    font-size: 49px;
    margin-top: 65px;
    margin-left: 20px;
}
.c1 p{
    position: absolute;
    margin-bottom: 200px;
    text-align: center;
    font-size: 25px;
    color: grey;
}
.i2{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 45%;
}
.c2 h1{
    height: 15px;
    width: auto;
    font-size: 49px;
    margin-top: 65px;
    margin-left: 55px;
}
.c2 p{
    position: absolute;
    margin-bottom: 200px;
    text-align: center;
    font-size: 25px;
    color: grey;
}
.i4{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 45%;
}
.c4 h1{
    height: 20px;
    width: auto;
    font-size: 49px;
    margin-top: 65px;
    margin-left: 55px;
}
.c4 p{
    position: absolute;
    margin-bottom: 200px;
    text-align: center;
    font-size: 25px;
    color: grey;
}
.i3{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 45%;
}
.c3 h1{
    height: 15px;
    width: auto;
    font-size: 49px;
    margin-top: 65px;
    margin-left: 38px;
}
.c3 p{
    position: absolute;
    margin-bottom: 200px;
    text-align: center;
    font-size: 25px;
    color: grey;
}
.choice{
    height: 650px;
    width: auto;
}
.men{
    position: absolute;
    margin-top: 25px;
    margin-left: 175px;
    height: 600px;
    width: 450px;
    background-image: url(./cat-men-300x300.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.women{
    position: absolute;
    margin-top: 25px;
    margin-left: 700px;
    height: 600px;
    width: 450px;
     background-image: url(./cat-women-300x300.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#men h2{
    position: absolute;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    margin-left: 25px;
    margin-top: 500px;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
}
#women h2{
    position: absolute;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    margin-left: 725px;
    margin-top: 520px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
}
.footer{
    width: auto;
    height: 550px;
}
.f5{
    position: absolute;
    background-color: black;
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-top: 400px;
}
.f5 p{
    color: white;
}
.f1{
    position: absolute;
    height: 60px;
    width: 380px;
    /* background-color: rgb(240, 233, 233); */
    margin-left: 500px;
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
}
.f2{
    position: absolute;
    height: 50px;
    width: 480px;
    margin-left: 440px;
    font-size: 17px;
    margin-top: 100px;
    color: grey;
}
.f3{
    position: absolute;
    height: 50px;
    width: 480px;
    margin-left: 440px;
    font-size: 17px;
    margin-top: 170px;
}
.f4{
    position: absolute;
    height: 50px;
    width: 480px;
    margin-left: 440px;
    font-size: 17px;
    margin-top: 260px;
    display: flex;
    justify-content: space-evenly;
}
.l1,.l2,.l3,.l4,.l5{
    height: auto;
    width: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.f3{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 400px;
    justify-content: space-evenly;
}
.f3 ul{
    width: 100%;
    padding-left: 0;
}
.f3 li{
    list-style: none;
    display: inline-block;
    color: black;
    text-align: center;   
    width: calc(100%/6.2); 
}
.f3 li:hover{
    color: chocolate;
}